/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import url("../style/laf.css");
@import url("../style/lightbox.css");


:root {
    --url-bkgd-img: url("../img/bkgrd.png");

    --color-main-border: #ddd;
    --color-main-bkgd: #fefefe;
    --color-main-border-shadow: #e0e0e0;
    --color-fieldset-border: #d7d7db;
    --color-dlg-fieldset-border: #d7d7db;
    --color-text-sync-status-on: #003706;
    --color-about-btn-bkgd: #f9f9fa;
    --color-about-btn-bkgd-hover: #ededf0;
    --color-about-btn-bkgd-active: #d7d7db;
    --color-about-btn-border: #ededf0;
    --color-about-btn-border-hover: #ededf0;
    --color-about-btn: black;
}

@media (prefers-color-scheme: dark) {
    :root {
	--url-bkgd-img: none;
	--color-bkgd: #1a1a1e;

	--color-main-border: #0c0c0d;
	--color-main-bkgd: #2a2a2e;
	--color-main-border-shadow: #0c0c0d;
	--color-fieldset-border: #4a4a4f;
	--color-dlg-fieldset-border: #585858;
	--color-text-sync-status-on: #30e60b;
	--color-about-btn-bkgd: #2a2a2e;
	--color-about-btn-bkgd-hover: #38383d;
	--color-about-btn-bkgd-active: #4a4a4f;
	--color-about-btn-border: #4a4a4f;
	--color-about-btn-border-hover: #b1b1b3;
	--color-about-btn: #f9f9fa;
    }
}


main {
  width: 640px;
  margin: 24px auto 24px auto;
  padding: 16px;
  cursor: inherit;
}

#addon-icon {
  vertical-align: -14px;
  margin-right: 8px;
}

h2 {
  display: inline-block;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

#init-sync-spinner {
  display: none;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  vertical-align: -2px;
}

#sync-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 18px;
    margin-left: 8px;
    background-image: url("../img/syncReadingList.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#reauthz {
    display: none;
}



.lightbox {
    top: 64px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 6px;
    font-size: 15px;
}

.lightbox fieldset {
    border-top-color: var(--color-dlg-fieldset-border);
}

.lightbox .label {
    font-size: 15px;
}

.lightbox input[type="text"] {
    font: caption;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button {
    min-width: 96px;
    height: 32px;
    padding: 0 24px 0;
    border-radius: 4px;
    font-size: 15px !important;
}

.lightbox input[type="text"] {
    height: 28px;
    font-size: 15px;
}

.lightbox .row {
    margin-left: unset;
}

.lightbox .border-bottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 18px;
}

.lightbox .title {
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 17px;
    font-weight: 600;
}

#connect-dlg {
    --width: 450px;
    --height: 300px;
}

#connect-dlg > .dlg-content {
    font-size: 13px;
}

#connect-dlg > .dlg-content > #select-file-host {
    font-size: 13px;
}

#connect-dlg #file-hosts {
    width: 100%;
    font: caption;
    font-size: 13px;
}

#disconnect-dlg {
    top: 160px;
    --width: 486px;
    --height: 216px;
}

#disconnect-dlg > .dlg-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#disconnect-dlg > .dlg-content > .msgbox-icon {
    order: 1;
    flex: 0 1 auto;

    width: 90px;
    margin-top: 4px;
    margin-right: 12px;
    background-image: url("../img/question-64.png");
    background-size: 52px 52px;
    background-repeat: no-repeat;
}

#disconnect-dlg > .dlg-content > .msgbox-content {
    order: 2;
    flex: 1 1 auto;
}

#disconnect-dlg > .dlg-content > .msgbox-content > .title {
    font-size: 15px;
    font-weight: bold;
}

#disconnect-dlg > .dlg-content > .msgbox-content > .description {
    font-size: 13px;
}
