/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


:root {
    --page-width: 900px;

    --url-bkgd-img: url("../img/postUpgrade-bkgrd.png");
    --url-banner-img: url("../img/banner.svg");
    --color-bkgd: #ededf0;
    --color-main-border: #ddd;
    --color-main-bkgd: #F9F9FA;
    --color-main-border-shadow: #d7d7db;
    --color-text-default: black;
    --color-text-body: #0c0c0d;
    --color-hyperlink: #0060df;
    --color-hyperlink-active: #003eaa;
    --color-header-border: #ddd;
    --color-card-bkgd: #fff;
    --color-card-border: #eee;
    --color-card-border-shadow: #EBEDEA;
    --color-btn-bkgd: rgba(12, 12, 13, 0.1);
    --color-btn-hover-bkgd: rgba(12, 12, 13, 0.2);
    --color-btn-hover-border: rgba(12, 12, 13, 0.1);
    --color-btn-active-bkgd: rgba(12, 12, 13, 0.3);
    --color-btn-border: rgba(12, 12, 13, 0.1);
    --color-btn-text: black;
    --url-help-img: url("../img/help.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
	--url-bkgd-img: none;
	--url-banner-img: url("../img/banner-dk.svg");
	--color-bkgd: #1a1a1e;
	--color-main-border: #0c0c0d;
	--color-main-bkgd: #2a2a2e;
	--color-main-border-shadow: #0c0c0d;
	--color-text-default: #f9f9fa;
	--color-text-body: #f9f9fa;
	--color-hyperlink: #45a1ff;
	--color-hyperlink-active: #0a84ff;
	--color-header-border: #4a4a4f;
	--color-card-bkgd: transparent;
	--color-card-border: #4a4a4f;
	--color-card-border-shadow: #0c0c0d;
	--color-btn-bkgd: #4a4a4f;
	--color-btn-hover-bkgd: #606060;
	--color-btn-hover-border: #606060;
	--color-btn-active-bkgd: #737373;
	--color-btn-border: #4a4a4f;
	--color-btn-text: #f9f9fa;
	--url-help-img: url("../img/help-dk.svg");
    }
}


body {
    margin: 0;
    background-color: var(--color-bkgd);
    background-image: var(--url-bkgd-img);
    font: caption;
    color: var(--color-text-default);
}

main {
    width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 18px;
    border: 1px solid var(--color-main-border);
    border-radius: 2px;
    box-shadow: 0 0 8px 2px var(--color-main-border-shadow);
    background-color: var(--color-main-bkgd);    
}

main h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-body);
}

main h3 {
    font-size: 18px;
    color: var(--color-text-body);
    margin-left: 2rem;
}

main p, li {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-body);
    margin-left: 2rem;
}

li {
    margin-left: 3em;
}

li:first-of-type {
    margin-left: 0;
}

strong {
    font-weight: 700;
    color: var(--color-text-body);
}

a, .hyperlink {
    text-decoration: none;
    color: var(--color-hyperlink);
}

a:hover, .hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: var(--color-hyperlink-active);
    text-decoration: underline;
}

button {
    min-width: 88px;
    height: 32px;
    padding: 0 20px 0;
    border-radius: 4px;
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid var(--color-btn-border);
    background-color: var(--color-btn-bkgd);
    font: caption;
    font-size: 15px;
    color: var(--color-text-default);
}

button:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bkgd);
}

button:active {
    background-color: var(--color-btn-active-bkgd);
}

button:-moz-focusring {
    outline-style: none;
}

button:-moz-focusring {
    border-color: var(--color-bkgd) !important;
    box-shadow: 0 0 0 2px #45a1ff;
    transition-duration: 250ms;
    transition-property: box-shadow;
}

button.btn-puffy {
    border-radius: 5px;
    min-width: 120px;
    height: 48px;
    font-size: 15px;
    padding: 0 16px 0;
}

button.welcome-action-btn {
    border-radius: 4px;
    height: 28px;
    font-size: 13px;
    padding: 0 8px 0;
}

.welcome-content, .welcome-action-card-horiz {
    padding: 16px 20px 16px;
    border: 1px solid var(--color-card-border);
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px var(--color-card-border-shadow);  
    background-color: var(--color-card-bkgd);
}

.welcome-content {
    margin-top: 12px;
}

.welcome-action-card-horiz {
    margin-top: 28px;
}

.sxs-left {
    float: left;
    width: 160px;
    border: 1px solid #ddd;
}

.sxs-right {
    margin-left: 180px;
}

.sxs-right p {
    margin-left: revert;
}

.inline-icon {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

.cmd {
    font-weight: 600;
}

.callout {
    margin-top: -8px;
    padding: 8px;
    border: 1px solid #45a1ff;
    border-radius: 6px;
    background-color: #dfeefb;
    font-size: 13px;
}

.callout-icon {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    background-image: url("chrome://global/skin/icons/info.svg");
    background-size: contain;
}

.callout-content {
    margin-left: 20px;
}

#welcome-pg {
    padding: 12px 64px 24px 64px;
}

#main-header {
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
}

#install-success-header {
    display: inline-block;
    width: 36rem;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: left;
}

#install-success-hdr-icon {
    width: 96px;
    height: 96px;
    float: left;
    margin-right: 18px;
}

#install-success-header > h1 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

#install-success-header > .subhead {
    font-size: 22px;
    font-weight: 300;
}

#install-success-header > .subhead::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: text-bottom;
    content: " ";   

    background-image: url("../img/success.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#open-ext-prefs {
    margin-top: 8px;
}

#aecreations-links > ul {
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#aecreations-links > ul > li {
    display: inline-block;
    margin-top: 0px;
}

#aecreations-links > ul > li::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    content: " ";   
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -7px;
}

#link-website::before {
    background-image: url("../img/website-link-ico.svg");
}

#link-forum::before {
    background-image: url("../img/forum.png");
}

#link-blog::before {
    background-image: url("../img/blogger.png");
}

#dismiss-welcome-footer {
    margin-top: 24px;
    text-align: center;
}
